body {
    font-family: 'roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

.top {
    background-color: #1f2937;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 16px;
    margin-bottom: 50px;
}

.logo {
    font-size: 24px;
}

ul {
    font-size: 18px;
    padding: 0;
    margin: 0;
    color: #e5e7eb;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.content1 {
    background-color: #1f2937;   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    
}

#body {
    margin-bottom: 15px;
}

.hero {
    padding: 10px;
}

#title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 20px;
    border-radius: 8px;
}

.pic0 {
    height: auto;
    width: 350px;
    border-radius: 8px;
}

.title2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 45px;
}

.content2 {
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.pic1 {
    height: auto;
    width: 100px;
    border-radius: 8px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
}

.first, .second, .third, .fourth {
 
  max-width: 150px;
}

.content3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #e5e7eb;
    padding: 150px;
    flex-direction: column;
}

#con1 {
    font-size: 36px;
    
    
}

#con2 {
    font-weight: 500;
    align-self: flex-end;
}
